<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista</title>
</head>
<body>
    <div>
        <div class="Titulo">Lista de Productos</div>
        <div class="Subtitulo">Lista de Productos</div>
        <div id="divProducto"></div>
    </div>
    <script src="~/Scripts/script.js"></script>
</body>
</html>
